.gradle/
build/
app/build/
paybito-android-sdk-standalone/library/build/
PayBitoDemoApp/app/build/
PayBitoDemoApp/.gradle/
*.iml
.idea/
local.properties
.DS_Store
captures/
.externalNativeBuild
.cxx
**/build/
**/.gradle/
